<h2>Previous Classes</h2>
<div class="span12 lead">
  Dan has taught classes in a wide variety of fields.<br>

</div><br>
<div class="span12">
  <li><h3>Improv</h3> In settings ranging from corporate retreats, to weekend school conferences, to summer camps, including a Milpitas High School's team, which won two consecutive <a href="http://comedysportzsanjose.com/">ComedySportz San Jose</a> High School League Tournaments.<br><img src="/img/milp-hs-csz.jpg" alt="Milpitas High School's Championship Team"></li>
  <ul>
  <li>
   <h3>Video Production</h3> Including writing, filming, editing, and compositing for the City of Livermore's Reel Focus program.<br>
   <img src="/img/reel_focus.jpg" alt="Livermore's Reel Focus Program"></li>
   <li>
  <h3>Chess Coaching</h3> for <a href="http://successchess.com/">Success Chess Schools</a>.</li>
</ul>
</div>
<!-- <div class="technology entries row-fluid">
</div> -->